body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1448743133657-f67644da3008?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cXVhZHJhJTIwZGUlMjB0JUMzJUFBbmlzfGVufDB8fDB8fHww');
    background-size: cover;
    background-repeat: no-repeat;
}
section{
    padding-top: 20px;
}
